/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
    -webkit-print-color-adjust: exact;  
}


.col-md-4 p {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 38.333333%;
    max-width: 71.333333%;
}

 a {   
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:hover {   
   text-decoration: none;
}

 .zoomA {
        /*width: 600px;*/
        /*height: auto;*/
        transition-duration: 1s;
        transition-timing-function: ease;
      }
      .zoomA:hover {
        transform: scale(1.3);
      }

.italic {

font-style: italic;
font-size: 10pt;	
}

li img {
	margin-top: 2em !important;
	margin-left: 14em;
}

img {
	margin-top: 2em !important;
	margin-left: 14em;
}

pre code {
    display: block;
    font-size: 126.5%;
    color: #e6db74;
    font-family: monospace;
    background-color: #1E2224;
    padding: 2em;
}

pre {
margin-left: 16em;
width: 100%;
}


.close {
  background-image: url("Close-icon.png");
  background-repeat: no-repeat;
  bottom: 418px;
  display: none;
  height: 32px;
  left: 462px;
  margin-top: -32px;
  position: relative;
  width: 32px;
}
.expand {
  bottom: 125px;
  margin-left: -32px;
  margin-right: 16px;
  pointer-events: none;
  position: relative;
}

.img:target {
    height: 450px;
    width: 500px;
}
.img:target+.close {
    display: block;
}
.img:target+.close+.expand {
    display: none;
}

#json {
  margin-left: -25%;
  width: 158%;

}

#yaml {
    margin-top: 14.7em;
    margin-left: 8em;
}

}